<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alstech</title>
</head>
<body>
    <nav><ul class="navbar">
    <a href="{{url_for('my_view.index')}}">Homepage</a>
    <br>
    <a href="{{url_for('my_view.aboutus')}}">About Us</a>
    <br>
    <a href="{{url_for('my_view.phones')}}">Mobile Phones</a>
    <br>
    <a href="{{url_for('my_view.pcs')}}">PCs and Laptops</a>  
    <br>
    <a href="{{url_for('my_view.tvs')}}">TVs</a>
    <br>
    <a href="{{url_for('my_view.consoles')}}">Consoles</a>
</ul>
</ul></nav>




    {% block content %}
    {% endblock %}
</body>
</html>


